/* Header.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .metro-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background-color: #000000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo{
    width: 150px;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }


  .nav-menu a {
    color: #00aaff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-menu a:hover {
    background-color: #00aaff;
    color: #fff;
  }
  
  .burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
  }
  
  .burger-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    color: blue;
  }
  
  /* Анимация меню при открытии */
  .nav-menu.open {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    padding: 20px;
    gap: 15px;
    border-radius: 5px;
    color: blue;
  }
  
  /* Медиазапрос для экранов менее 620px */
  @media (max-width: 620px) {
    .nav-menu {
      display: none;
    }
  
    .burger-menu {
      display: flex;
    }
  
    .nav-menu.open {
      display: flex;
    }
  }
  